xml/employee.dtd

<!ELEMENT employees (employee+)>
<!ELEMENT employee (phones,address)>
<!ATTLIST employee name NMTOKEN #REQUIRED>
<!ATTLIST employee e-mail CDATA #REQUIRED>
<!ELEMENT phones (phone+)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone type NMTOKEN #REQUIRED>
<!ELEMENT address (region,city,country,building_number)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT building_number (#PCDATA)>